/* Account Page Styles */
/* Container styles */
.account-container {
    height: 80%;
    width: 60%;
    display: flex;         
    justify-content: center; 
    align-items: center;     
    flex-direction: column;   
    margin: 0 auto;            
}

/* Button styles */
.account-container button {
    text-align: center;
    padding: 10px 20px;        
    font-size: 1rem;           
    cursor: pointer;
    font-weight: bolder;           
}
